<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1097082012588-gomlmapg0gpft14115clk3gsmsa01tbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097082012588-gomlmapg0gpft14115clk3gsmsa01tbq</string>
	<key>API_KEY</key>
	<string>AIzaSyAwFFCUpVDuSi8UbxED2gIbfiJbR_7d7HQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1097082012588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ReactNativeReduxBoilerplate</string>
	<key>PROJECT_ID</key>
	<string>teste-mellin</string>
	<key>STORAGE_BUCKET</key>
	<string>teste-mellin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097082012588:ios:9a6597bb8f81d76e</string>
	<key>DATABASE_URL</key>
	<string>https://teste-mellin.firebaseio.com</string>
</dict>
</plist>